body {
    margin: 0;
    background: grey;
    text-align: center;
}


nav {
    background-color: OrangeRed;
    color: White;
    padding: 0.75rem 1.25rem;
  }

  .contacts {
    list-style: none;
    margin: 0;
    align-items: right;
    display: block;
    flex-wrap: wrap;
    align-content: center;
  }
  
  li {
    display: inline-block;
    list-style: none;
  
  }

  .left {
    width: 20%;
    float: left;
  }